data/
.venv/
venv/
env/


build/
Build/
BUILD/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake
!CMakeLists.txt

*.exe
*.out
*.app
shape_app
practica4_1C

*.o
*.obj
*.a
*.lib
*.so
*.so.*
*.dylib
*.dll


__pycache__/
*.py[cod]
*$py.class
*.pyc
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
*.egg-info/
dist/
*.whl


.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
*.code-workspace

# Jupyter Notebook

.ipynb_checkpoints
*.ipynb_checkpoints

# Temporales y logs

*.log
*.tmp
*.temp
*.bak
*.swp